footer#pageFooter.site-footer.pt-media-4
  
    .container 

        .row.align-items-center.mb-media-3
            .col-lg-auto
                .bot_logo 
                    img(src="img/logo-black.svg", alt="logo")
            .col-lg        
                ul.menus 
                    li 
                        a(href="index.html") 首页
                    li 
                        a(href="about.html") 关于集团
                    li 
                        a(href="news.html") 新闻中心
                    li 
                        a(href="development.html") 规划发展
                    li 
                        a(href="operate.html") 智慧运营
                    li 
                        a(href="dang.html") 党工专栏
                    li 
                        a(href="careers.html") 人力资源
                    li 
                        a(href="contact.html") 联系我们
                
                  
      
        .copyright &copy;2023 宁夏哈纳斯管道集团有限公司 版权所有



         
a.toTop(href="#") 
    i.iconfont.icon-top