footer#pageFooter.site-footer.pt-media-4
  
    .container 

        .row.mb-media-3
            .col-lg-auto
                .left_col
                    .bot_logo 
                        img(src="img/logo.svg", alt="logo")
                    dl.company_info 
                        dt Shenzhen Kelixun Electronics Co., Ltd.
                        dd                        
                            Strong Address: 
                            span Shengshun Industrial Park, Junxin Road, Guanlan Street, Longhua District, Shenzhen 
                        dd 
                            Strong National Service Hotline: 
                            span 400-806-8520

            .col-lg  
                .row 
                    .col 
                        h3 Product Center
                        ul.menus 
                            li 
                                a(href="") Screen Assembly
                            li 
                                a(href="") Built-in Battery
                    .col 
                        h3 News Center
                        ul.menus 
                            li 
                                a(href="") Technology Sharing
                            li 
                                a(href="") Company News
                    .col
                        h3 About US
                        ul.menus 
                            li 
                                a(href="") About Us
                            li 
                                a(href="") Our Advantages
                            li 
                                a(href="") Company Proﬁle
                            li 
                                a(href="") Development History
                            li 
                                a(href="") Corporate Culture
                            li 
                                a(href="") Honor Certiﬁcate
                            li 
                                a(href="") Oﬃce Environment
                            li 
                                a(href="") Contact Us


                
                
            .col-lg-auto
                .right_col 
                    a.toTop(href="#") 
                        .icon
                            i.iconfont.icon-up
                        span Back to Top
                    figure.qrcode 
                        img(src="img/qrcode@2x.png", alt="Wechat Video")
                        figcaption Wechat Video
      
        .copyright &copy;2023 宁夏哈纳斯管道集团有限公司 版权所有



         
