@include font-face('YouSheBiaoTiHei', '../fonts/YouSheBiaoTiHei', $weight: 400, $style: null, $exts: ttf);

// .container{
//     @include mq(xxxl){
//         max-width: 1550px;
//     }
// }


body {
    color: $color-text;
    background: #fff;    
    font-family: $font-family-default;
    font-size: 1rem;
    margin: 0 auto;
    line-height: 1.8;
    position: relative;
    padding-top: 45px;
    @include mq(md) {
        font-size: 1rem; 
        padding-top: 60px;  
    }
    @include mq(lg) {
        font-size: rem(14);    
        padding-top: 0;  
    }

    @include mq(xxl) {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: $color-primary;
    &:hover {
        text-decoration: none;      
        color: $color-secondary;        
    }
}


.title-section {   
   
    position: relative;  
    color:$color-text-heading;
    margin-bottom: 1rem;
    @include mq(xxl){
        margin-bottom: 2rem;
    }
    .en{
        color: $color-primary;
        @include mq(xxxl){
            font-size: rem(18);
        }
    }
    h2 {       
        position: relative;        
    }
    h3{
        position: relative;
        padding-bottom: 1rem;
        &::after{
            content: " ";
            display: block;
            width: 42px;
            height: 2px;
            background-color: $color-primary;
            position: absolute;
            left: 0;
            bottom: 0;

        }
    }
    &.v1{
        text-align: center;        
    }
    &.style2{
        text-align: center;
        h2{
            &::after{   
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-primary;
                
            }
        }
    }
    &.white{
        color: #fff;
        .en{
            color: #fff;
        }
        h3{
            color: #fff;
            &::after{               
                background-color: #fff;                
            }
        }
    }
}


.banner {
    position: relative;
    color: $color-text-heading;
    .bg{
        width: 100%;      
        // object-fit: cover;
        // object-position: center center;
        // @include responsive-space(height,200, 500, 320, 1920);
      
    }
    .txt{
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;      
        z-index: 10;        
        transform: translateY(-50%); 
        text-align: center;
        h1{     
            font-weight: normal;
            font-family: 'YouSheBiaoTiHei';
            &.white{
                color: #fff;
         
            }
        }
       
    }   
 
}



.site-path  {
    border-top: 1px #eee solid;  
    padding-top: 1rem;
    ol.breadcrumb{
        @include reset-list();
        li{
            display: inline-block;
            font-size: rem(14);
            color: #999;
            &::after{
                content: " / ";
            }
            &.current{
                color: #333;
                &::after{
                    content: "";
                }
            }
        }
    }
    a{
        color: #B8B8B8;
    }
    
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

img {
    max-width: 100%;
}

.line-1 {
    border: none;
    border-top: 1px #ddd solid;
}

.text100 {
    font-size: rem(30);
    @include mq(md) {
        font-size: rem(55);
    }
    @include mq(lg) {
        font-size: rem(70);
    }
    @include mq(xl) {
        font-size: rem(85);
    }
    @include mq(xxl) {
        font-size: rem(100);
    }
}

.text80 {
    font-size: rem(40);
    @include mq(md) {
        font-size: rem(50);
    }
    @include mq(lg) {
        font-size: rem(60);
    }
    @include mq(xl) {
        font-size: rem(70);
    }
    @include mq(xxl) {
        font-size: rem(80);
    }
}

.text72 {
    @include fluid-type(24px, 72px, 320px, 1920px);
}


.text56 {
    font-size: rem(24);
    @include mq(md) {
        font-size: rem(32);
    }
    @include mq(lg) {
        font-size: rem(40);
    }
    @include mq(xl) {
        font-size: rem(48);
    }
    @include mq(xxl) {
        font-size: rem(56);
    }
}
.text50 {
    font-size: rem(22);
    @include mq(sm) {
        font-size: rem(26);
    }
    @include mq(md) {
        font-size: rem(30);
    }
    @include mq(lg) {
        font-size: rem(34);
    }
    @include mq(xl) {
        font-size: rem(38);
    }
    @include mq(xxl) {
        font-size: rem(44);
    }
    @include mq(xxxl) {
        font-size: rem(50);
    }

}
.text48 {
    @include fluid-type(30px, 48px, 320px, 1920px);
}
.text44 {
    @include fluid-type(22px, 44px, 320px, 1920px);
}

.text40 {
    @include fluid-type(22px, 40px, 320px, 1920px);
}

.text36 {   
    @include fluid-type(18px, 36px, 320px, 1920px);
}

.text34 {
    font-size: rem(24);
    @include mq(md) {
        font-size: rem(28);
    }
    @include mq(lg) {
        font-size: rem(30);
    }
    @include mq(xl) {
        font-size: rem(32);
    }
    @include mq(xxl) {
        font-size: rem(34);
    }
}

.text32 {
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(20);
    }
    @include mq(lg) {
        font-size: rem(24);
    }
    @include mq(xl) {
        font-size: rem(28);
    }
    @include mq(xxl) {
        font-size: rem(32);
    }
}

.text30 {
    
    @include mq(md) {
        font-size: rem(18);
    }
    @include mq(lg) {
        font-size: rem(22);
    }
    @include mq(xl) {
        font-size: rem(26);
    }
    @include mq(xxl) {
        font-size: rem(30);
    }
}

.text28 {
    @include fluid-type(20px, 28px, 320px, 1920px);
}

.text26 {
    font-size: rem(18);
    @include mq(md) {
        font-size: rem(20);
    }
    @include mq(lg) {
        font-size: rem(22);
    }
    @include mq(xl) {
        font-size: rem(24);
    }
    @include mq(xxl) {
        font-size: rem(26);
    }
}

.text24 {
   
    font-size: rem(18);
  
    @include mq(xl) {
        font-size: rem(22);
    }
    @include mq(xxl) {
        font-size: rem(24);
    }
}

.text22 {
    @include mq(lg) {
        font-size: rem(18);
    }
    @include mq(xl) {
        font-size: rem(20);
    }
    @include mq(xxl) {
        font-size: rem(22);
    }
}

.text20 {
    @include fluid-type(14px, 20px, 320px, 1920px);
}

.pt-media-15 {
    padding-top: 3rem;
    @include mq(md) {
        padding-top: 3rem;
    }
    @include mq(lg) {
        padding-top: 9rem;
    }
    @include mq(xl) {
        padding-top: 13rem;
    }
    @include mq(xxl) {
        padding-top: 15rem;
    }
}

.pt-media-9 {
    padding-top: 5rem;
    @include mq(md) {
        padding-top: 6rem;
    }
    @include mq(lg) {
        padding-top: 7rem;
    }
    @include mq(xl) {
        padding-top: 8rem;
    }
    @include mq(xxl) {
        padding-top: 9rem;
    }
}

.pt-media-7 {
    padding-top: 3rem;
    @include mq(md) {
        padding-top: 4rem;
    }
    @include mq(lg) {
        padding-top: 5rem;
    }
    @include mq(xl) {
        padding-top: 6rem;
    }
    @include mq(xxl) {
        padding-top: 7rem;
    }
}

.pt-media-6 {
    @include responsive-space(padding-top,32, 96, 320, 1920);
}

.pt-media-5 {
    padding-top: 2rem;
   
    @include mq(lg) {
        padding-top: 3rem;
    }
    @include mq(xl) {
        padding-top: 4rem;
    }
    @include mq(xxl) {
        padding-top: 5rem;
    }
    
}

.pt-media-4 {
   
    padding-top: 2rem;

    @include mq(xl) {
        padding-top: 3rem;
    }
    @include mq(xxl) {
        padding-top: 4rem;
    }
}

.pt-media-3 {
    padding-top: 1rem;
    @include mq(md) {
        padding-top: 2rem;
    }
    @include mq(lg) {
        padding-top: 3rem;
    }
}

.pb-media-3 {
    padding-bottom: 1rem;
    @include mq(md) {
        padding-bottom: 2rem;
    }
    @include mq(lg) {
        padding-bottom: 3rem;
    }
}

.pb-media-4 {
    padding-bottom: 1rem;
    @include mq(md) {
        padding-bottom: 2rem;
    }
    @include mq(lg) {
        padding-bottom: 3rem;
    }
    @include mq(xl) {
        padding-bottom: 4rem;
    }
}

.pb-media-5 {

    padding-bottom: 2rem;
 
    @include mq(lg) {
        padding-bottom: 3rem;
    }
    @include mq(xl) {
        padding-bottom: 4rem;
    }
    @include mq(xxl) {
        padding-bottom: 5rem;
    }
}

.pb-media-6 {
    @include responsive-space(padding-bottom,32, 96, 320, 1920);
}

.pb-media-7 {
    padding-bottom: 3rem;
    @include mq(md) {
        padding-bottom: 4rem;
    }
    @include mq(lg) {
        padding-bottom: 5rem;
    }
    @include mq(xl) {
        padding-bottom: 6rem;
    }
    @include mq(xxl) {
        padding-bottom: 7rem;
    }
}

.pb-media-8 {
    padding-bottom: 4rem;
    @include mq(md) {
        padding-bottom: 5rem;
    }
    @include mq(lg) {
        padding-bottom: 6rem;
    }
    @include mq(xl) {
        padding-bottom: 7rem;
    }
    @include mq(xxl) {
        padding-bottom: 8rem;
    }
}

.pb-media-9 {
    padding-bottom: 5rem;
    @include mq(md) {
        padding-bottom: 6rem;
    }
    @include mq(lg) {
        padding-bottom: 7rem;
    }
    @include mq(xl) {
        padding-bottom: 8rem;
    }
    @include mq(xxl) {
        padding-bottom: 9rem;
    }
}

.pb-media-11 {
    padding-bottom: 7rem;
    @include mq(md) {
        padding-bottom: 8rem;
    }
    @include mq(lg) {
        padding-bottom: 9rem;
    }
    @include mq(xl) {
        padding-bottom: 10rem;
    }
    @include mq(xxl) {
        padding-bottom: 11rem;
    }
}

.mb-media-2 {
    margin-bottom: 1rem;
    @include mq(md) {
        margin-bottom: 2rem;
    }
}

.mb-media-3 {
    margin-bottom: 1rem;
    @include mq(md) {
        margin-bottom: 2rem;
    }
    @include mq(xl) {
        margin-bottom: 3rem;
    }
}

.mb-media-4 {
    margin-bottom: 1rem;
    @include mq(md) {
        margin-bottom: 2rem;
    }
    @include mq(lg) {
        margin-bottom: 3rem;
    }
    @include mq(xl) {
        margin-bottom: 4rem;
    }
}

.mb-media-5 {
  
    margin-bottom: 2rem;
 
    @include mq(lg) {
        margin-bottom: 3rem;
    }
    @include mq(xl) {
        margin-bottom: 4rem;
    }
    @include mq(xxl) {
        margin-bottom: 5rem;
    }
}
.mb-media-6 {
  
    margin-bottom: 2rem;
 
    @include mq(lg) {
        margin-bottom: 3rem;
    }
    @include mq(xl) {
        margin-bottom: 4rem;
    }
    @include mq(xxl) {
        margin-bottom: 5rem;
    }
    @include mq(xxxl) {
        margin-bottom: 6rem;
    }
}
.mb-media-7 {
    margin-bottom: 3rem;
    @include mq(md) {
        margin-bottom: 4rem;
    }
    @include mq(lg) {
        margin-bottom: 5rem;
    }
    @include mq(xl) {
        margin-bottom: 6rem;
    }
    @include mq(xxl) {
        margin-bottom: 7rem;
    }
}

.mb-media-8 {
    margin-bottom: 4rem;
    @include mq(md) {
        margin-bottom: 5rem;
    }
    @include mq(lg) {
        margin-bottom: 6rem;
    }
    @include mq(xl) {
        margin-bottom: 7rem;
    }
    @include mq(xxl) {
        margin-bottom: 8rem;
    }
}

.page-nav{
    background-color: #fff;
    .wrap{
        white-space: nowrap;
        overflow-x: auto;
    }
    a{
        display: inline-block;
        padding: .5rem;
        margin-right: 1rem;
        @include mq(md){
            padding: 1rem;
            margin-right: 2rem;
        }
        &.active{
            border-bottom: 1px $color-primary solid;
            color: $color-primary;
        }
    }
}

