.page-home-s1{
    position: relative;
    .swiper-pagination{      
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
      margin: 0;
    }
    .swiper-pagination-bullet{
        width: 30px;
        height: 3px;
        border-radius: 0;  
        background-color: #fff;  
        @include mq(lg){
            width: 35px;
            height: 4px;
        }
        @include mq(xl){
            width: 45px;
            height: 5px;
        }
        @include mq(xxl){
            width: 50px;
            height: 6px;
        }
        
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 2rem;
    }
    .swiper-pagination-bullet-active{
        background-color: #fff;
    }

    .bg{
        z-index: 0;
        width: 100%;
    }
    .txt-container { 
        position: absolute;
        left: 0;
        top: 40%;
        height: 100%;
        width: 100%;
        z-index: 200;

        h2{        
            text-align: center;          
            font-weight: normal;
            color: #fff;
    
        }
    }

    .swiper-next,.swiper-prev{
        position: absolute;
        top: 50%;
        left: 3rem;
        z-index: 100;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border:1px #fff solid;
        text-align: center;
        line-height: 48px;
        transition: all .3s;
        color: #fff;
        display: none;
        @include mq(lg){
            display: block;
            left: 1rem;
        }
        @include mq(xl){
            left: 3rem;
        }
        &:hover{
            background-color: $color-secondary;
            border-color: $color-secondary;
            transform: scale(1.1);
        }
    }
    .swiper-next{
        position: absolute;
        left: auto;
        right: 1rem;
        @include mq(xl){
            right: 3rem;
        }
    }
}

.page-home-s2 {
    color: #fff;
    a{
        color: #fff;
        @include mq(xxl){
            font-size: rem(18);
        }
        .iconfont{
            display: inline-block;
            transition: all .25s;
        }
        &:hover{
            i.iconfont{
               
                margin-left: 1rem;
            }
        }
    }
    .left_col{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
        padding: 5rem;
        @include mq(xxl){
            padding: 6rem;
        }
    }

    .item{
        position: relative;
        .txt{
            position: absolute;
            left: 5rem;
            top: 5rem;
            right: 5rem;
            @include mq(xxl){
                left: 6rem;
                right: 5rem;
                top: 6rem;
            }
        }
    }
    .title{
        margin-bottom: 1.5rem;
    }
}
.page-home-s3{
    
    .news-list {
        .item{
            display: block;
            margin-bottom: 1rem;
            @include mq(xxl){
                margin-bottom: 2rem;
            }
            .pic{
                margin-bottom: 1rem;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: all .25s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }
            .txt{
                .title{
                    font-size: rem(16);
                    @include mq(xxl){
                        font-size: rem(18);
                    }
                }
                .author{
                    color: #999;
                }
            }
        }
    }
}

.page-home-s4{
    background: url(../img/home_bg_1.png) no-repeat center bottom;
    background-size: 100% auto;
    
    @include responsive-space(padding-bottom,80, 200, 320, 1920);
    .title-section{
        @include mq(xxl){
            margin-bottom: 3rem;
        }
        @include mq(xxxl){
            margin-bottom: 4rem;
        }
    }
    .icon{
        img{
            width: 100%;
            box-shadow: 0 0 20px rgba(0,0,0,.1);
        }
    }
}

