.page-news {
    
    .tab-nav {
        @include reset-list();
        margin-bottom: 2rem;        
        @include fluid-type(16px, 24px, 320px, 1920px);
        li{
            display: inline-block;
            margin-right: 2rem;
            @include mq(lg){
                margin-right: 3rem;
            }
            a{
                display: block;
                height:60px;
                text-align: center;
                line-height: 60px;
               
            }
            &.active{             
                border-radius: 30px;
                a{                   
                    font-weight: 900;
                }
            }
        }
    }
    .recommend{
        margin-bottom: 3rem;
        .item{
            display: block;
            .title{
                @include fluid-type(16px, 24px, 320px, 1920px);
            }
            .date{
                color: #999;
            }
        }
        .pic{
            margin-bottom: 1rem;
            overflow: hidden;
            border-radius: 10px;
            img{
                display: block;
                width: 100%;
             
                transition: all .25s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }

    
    }
    .news-list {
        margin-bottom: 2rem;      
        .item{
            display: block;
            margin-bottom: 1rem;

            .title{
                @include fluid-type(16px, 24px, 320px, 1920px);
            }
            .date{
                color: #999;
            }
        }
        .pic{
            margin-bottom: 1rem;   
            overflow: hidden;
            border-radius: 10px;
            img{
                display: block;
                width: 100%;
              
                transition: all .25s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            
        }
    }

}

.wrap{
    
    @include mq(lg){
        padding-top: 6rem;
    }
    @include mq(xl){
        padding-top: 6.5rem;
    }
    @include mq(xxl){
        padding-top: 7rem;
    }
}
.page-news-detail {

    .note{
        dd{
            display: inline-block;
            &.date{           
                color:#999;
            }
            &.category{
                color: $color-primary;
                margin-left: 1rem;
            }
        }
    }
    .news-header{        
        margin-bottom: 1rem;
        border-bottom:1px #eee solid;;
       
        @include mq(md){
            margin-bottom: 2rem;
            padding-bottom: 1rem;
        }
        
        h1{
            color:#333;
            margin-bottom:1rem ;
            @include mq(md){
                margin-bottom:2rem ;
            }
        }
        
        
       
    }
    .container {
        position: relative;
       
        .content {
         
            color: #8a9095;
         
         
            p {
                text-align: justify;           
            }
         
        }
        .pagenav {
            @include mq(xl){
                margin-left: 1rem;
            }
            @include mq(xxl){
                margin-left: 2rem;
            }
            a {
                width: 100%;
                display: block;        
                background-color: #fff;             
                
                margin-bottom: 2rem;
                padding:  1rem;
                border-top: 3px $color-primary solid;
                border-radius: 5px;
                @include mq(xxl){
                    padding: 2rem;
                }
                &:hover {               
                    color:$color-primary;
                }
                .arrow{
                    position: relative;
                    margin-bottom: .5rem;
                    padding-bottom: .8rem;
                    &::after{
                        content: " ";
                        display: block;
                        background-color: #ccc;
                        width: 1rem;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
                .title{
                    @include fluid-type(14px, 20px, 320px, 1920px);
                    margin-bottom: 1rem;
                    text-align: justify;
                }
            }
        }

        // a.back{
        //     display: inline-block;
        //     font-size: small;
        //     border-radius:18px;
        //     border:1px #595757 solid;
        //     padding: .2rem 1rem;
        // }
    }
}