.page-products-s1 {  
    .des{
        max-width: 1030px;
        margin: 0 auto;
        padding: 0 1rem;
        text-align: center;
    }
    
    
    
}

.page-products-s2{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 20rem;
    background-image: linear-gradient(0, #7b35a18e 0%, #fff 50%);
    .container{
        @include mq(xxl){
            max-width: 1200px;
        }
    }
  
    
    .pic {
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 100;
        transform: translateX(-50%);
    }
    .list{
        max-width: 380px;
        .item{
            margin-bottom: 8rem;
            position: relative;
            padding-left: 8rem;
            min-height: 120px;
            .icon{
                position: absolute;
                left: 0;
                top: 0;
            }
            .txt{
                .title{
                    @include fluid-type(18px, 24px, 320px, 1920px);
                }
                .des{
                    font-size: rem(14);
                }
            }
            &:hover{
                color: $color-primary;
                .icon{
                    border-radius: 50%;
                    box-shadow: 0 0 12px rgba(0,0,0,.1);
                }
            }
        }
    }
    .right_col{

        .list{
            margin: 0 0 0 auto;
            .item{
                padding-left: 0;
                padding-right: 8rem;
                .icon{
                    right: 0;
                    left: auto;
                }
                .txt{
                    text-align: right;
                }
            }
        }
    }
}
