extends includes/layout.pug

block title
    | 关于我们
    - var currentUrl = 'about.html'
block bkheader
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-news
        img.bg(src="img/banners/about.jpg", alt="")
        .txt
            .container            
                h1.white.wow.fadeInUp.text48 关于我们
       

    
    section.page.page-about-s1.pt-media-6.pb-media-6  
        .container
            .row.align-items-center 
                .col-lg-6 
                    .intro 
                        .title-section.wow.fadeInUp 
                            .en Carrier Biomed
                            h2.text48 亿航生物

                        .des 
                            p.wow.fadeInUp 
                                strong 亿航(苏州)生物医药有限公司
                                | 是由中国外泌体行业两家头部企业上海亿微生物和江苏贝格尔生物合并重组成立。
                            p.wow.fadeInUp 公司坐落于苏州工业园区，拥有自主知识产权的外泌体分离平台和基于数千例大规模多中心临床研究的多个管线，包括神经退行性疾病早期血液诊断、肿瘤早期诊断和动态监测。
                            p.wow.fadeInUp 公司团队和顾问委员会涵盖国际细胞外囊泡研究协会多位顶级专家、神经学和临床肿瘤学领域国内外顶级专家、和有丰富经验的产业化人才。
                            p.wow.fadeInUp 公司累计融资超亿元，正处在高速发展期。

        
                .col-lg-6 
                    figure.pic 
                        img(src="img/about_1.jpg", alt="关于我们")

    
    section.page.page-about-s2.pb-media-6
        .container
            .title-section.wow.fadeInUp 
                .en Cofounder
                h2.text48 联合创始人

            .row 
                .col-lg-6 
                    .item 
                        .pic 
                            img(src="img/man_1.jpg", alt="")

                        .txt 
                            .person
                                h3.name Prof. Hubert Yin 尹航
                                .job 教授
                                .note 亿航生物创始科学家
                                ul.list 
                                    li 清华大学药学院教授、副院长，中药研究院院长
                                    li 清华大学药学技术中心主任，清华大学校学术委员会委员
                                    li 中组部“千人计划”国家特聘专家
                                    li 国家自然基金委杰出青年科学基金获得者
                                    li 北京市卓越青年科学家基金获得者

                .col-lg-6 
                    .item 
                        .pic 
                            img(src="img/man_2.jpg", alt="")

                        .txt 
                            .person
                                h3.name 李振韬 
                                .job 博士
                                .note 亿航生物联合创始人兼CEO、江苏贝格尔生物、医药有限公司创始人兼CEO
                                ul.list 
                                    li 墨尔本大学分子生物学博士，师从国际精准医疗专家Grant McArthur 院士，十年分子诊断和靶向治疗研究工作经验
                                    li 江苏省双创人才、常州市龙城英才计划、A类全国创新创业大赛上海市一等奖、中澳元创（江苏）创新大赛一等奖
                                    li 经营企业累计融资额超亿元；拥有技术创新、产品研发、多中心大型临床研究、GMP生产、市场渠道等全产业链运营经验
                                    li 学术、社会任职：中国细胞外囊泡研究协会委员、中国医学装备协会检验分会创新技术评估专委会委员、常州市欧美同学会副会长等。
    
    section.page.page-about-s3.pt-media-6
        .container 
            .title-section.style2.white.wow.fadeInUp 
                .en Product pipeline
                h2.text48 亿微荣誉

            .honors 
                .swiper.honorSwipers                
                    .swiper-wrapper
                        .swiper-slide
                            .item
                                .pic
                                    img.bg(src="img/temp/j1.jpg", alt="") 
                                .txt 
                                    h3.text24 全国优秀创业创新项目
                                    p 优秀企业

                        .swiper-slide
                            .item
                                .pic
                                    img.bg(src="img/temp/j2.jpg", alt="") 
                                .txt 
                                    h3.text24 全国优秀创业创新项目
                                    p 优秀企业                                    
                        .swiper-slide
                            .item
                                .pic
                                    img.bg(src="img/temp/j3.jpg", alt="") 
                                .txt 
                                    h3.text24 全国优秀创业创新项目
                                    p 优秀企业        
                        .swiper-slide
                            .item
                                .pic
                                    img.bg(src="img/temp/j1.jpg", alt="") 
                                .txt 
                                    h3.text24 全国优秀创业创新项目
                                    p 优秀企业

                        .swiper-slide
                            .item
                                .pic
                                    img.bg(src="img/temp/j2.jpg", alt="") 
                                .txt 
                                    h3.text24 全国优秀创业创新项目
                                    p 优秀企业                                    
                        .swiper-slide
                            .item
                                .pic
                                    img.bg(src="img/temp/j3.jpg", alt="") 
                                .txt 
                                    h3.text24 全国优秀创业创新项目
                                    p 优秀企业    
                    .swiper-pagination    
                .swiper-next
                    i.iconfont.icon-right
                .swiper-prev
                    i.iconfont.icon-left

    section.page.page-home-s4.pt-media-6
        .container
            .title-section.v1
                .en Investment cooperation
                h2.text48 投资合作

            .partners 
                .row.g-xxl-5.row-cols-md-3.row-cols-lg-5
                    .col
                        .icon.wow.fadeInUp 
                            img(src="img/partners/p1.png", alt="")
                    .col
                        .icon.wow.fadeInUp 
                            img(src="img/partners/p2.png", alt="")
                    .col
                        .icon.wow.fadeInUp 
                            img(src="img/partners/p3.png", alt="")
                    .col
                        .icon.wow.fadeInUp 
                            img(src="img/partners/p4.png", alt="")
                    .col
                        .icon.wow.fadeInUp 
                            img(src="img/partners/p5.png", alt="")

    section.page.page-about-s4.pt-media-6.pb-media-6

        .container 
            .row.g-0
                .col-lg-7
                    #map-gaode.gaode_map 
                .col-lg-5 
                    .contact 
                        .title-section.white
                            .en Contact information
                            h2.text36 联系方式

                        ul.list 
                            li 
                                i.iconfont.icon-marker
                                | 苏州工业园区金鸡湖大道88号人工智能产业园E2E3-201
                            li 
                                i.iconfont.icon-email
                                | info@carrierbiomed.com

                            li 
                                i.iconfont.icon-phone
                                | 0512-69885880



block bkfooter

    script(src='js/vendor/swiper/swiper-bundle.min.js')

    script(src='https://webapi.amap.com/maps?v=1.4.15&key=1cacf315d4678f9f550379b274a06d7a',type="text/javascript")   
    script.
        function loadMap(divId){
            var map = new AMap.Map(divId, {
                zoom:14.7,//级别
                center: [109.013174,34.211564],//中心点坐标
                viewMode:'3D', //使用3D视图
                //- lang: "en" 
            });

            var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});

            var marker = new AMap.Marker({
                position: new AMap.LngLat(109.013174,34.211564),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                title: '奥创光子'
            });

            marker.content = '奥创光子';
            marker.on('click', markerClick);
            marker.emit('click', {target: marker});
            // 将创建的点标记添加到已有的地图实例：
            map.add(marker);

            function markerClick(e) {
                infoWindow.setContent(e.target.content);
                infoWindow.open(map, e.target.getPosition());
            }
        }
        
        loadMap('map-gaode')


        var swiper1 = new Swiper('.honorSwipers', {           
            slidesPerView: 1,
            spaceBetween: 20,
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },           
            navigation: {
                nextEl: ".swiper-next",
                prevEl: ".swiper-prev",
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 40,
                },
                //- 1024: {
                //-     slidesPerView: 5,
                //-     spaceBetween: 50,
                //- },
            },
        
        });
    
        $(function () {
            $('.item-header .open').click(function(e){
                
                e.preventDefault();
                $(this).toggleClass('up');
                // $(this).next().slideToggle();
                
                $(this).closest('.item-header').next().slideToggle();
            });
        
        });

     

      
       

     
