extends includes/layout.pug

block title
    | 新闻动态

block content
    .wrap
        .site-path.mb-media-3  
            .container            
                ol.breadcrumb 
                    li 
                        a(href="index.html") 首页
                    li 
                        a(href="news.html") 新闻中心
                    li.current 查看详情

    .page.page-news-detail.pt-media-3.pb-media-8 
        .container    
            .news-header
                h1.text48.wow.fadeInUp 康哲药业暖心捐赠 助力深圳市南山区疫情防控
                dl.note.wow.fadeInUp
                    dd.date 发布日期：2020/07/11
                    dd.author 作者：哈纳斯 

            main#artContent.content.wow.fadeInUp
                
                p 为确保公司天然气长输管道安全平稳运行，为即将到来的冬供保障打好坚实基础，9月下旬，哈纳斯天然气管道集团开展2022年度秋季全员徒步巡护活动。历时10天，本次徒步巡线活动圆满结束。在这10天里，公司4个巡护小组共计徒步293公里，穿越了草原、荒漠、农田、沟渠，走到了管线所及的每一寸土地。
                figure
                    img(src="img/temp/nd01.jpg", alt="")

                p 作为天然气长输管道运营单位，哈纳斯管道集团一直以“智慧管道，服务民生”为根本宗旨，在高起点规划、高标准建设、高质量要求的项目建设基础上，公司通过先进的现代化信息平台和技术手段进行天然气输配调度和运行管理，同时配备了技术精湛、业务娴熟的管道维保和巡护团队，时刻守护公司天然气长输管道的安全。
                p 全员徒步巡线活动是公司对管道安全管理的一项重点工作。通过全线徒步检查，可以发现巡检盲区、提升巡护质量、完善桩牌信息、确定重点区域，对管道全线的安全状况进行全面评估，为管道安全运行加上了又一道坚实的防线。
                p 在辽阔的草原上，在苍茫的荒漠里，一缕缕橘红飘过大地，“管道卫士”的旗帜迎风招展，这就是哈纳斯管道人！虽一路坎坷、疲惫，但也充满了欢声笑语，奋力前行的那份坚定，是因为我们深感责任重大，守护天然气管道安全，我们义不容辞！
                
                figure
                    img(src="img/temp/nd02.jpg", alt="")
                
                p 作为天然气长输管道运营单位，哈纳斯管道集团一直以“智慧管道，服务民生”为根本宗旨，在高起点规划、高标准建设、高质量要求的项目建设基础上，公司通过先进的现代化信息平台和技术手段进行天然气输配调度和运行管理，同时配备了技术精湛、业务娴熟的管道维保和巡护团队，时刻守护公司天然气长输管道的安全。
                p 全员徒步巡线活动是公司对管道安全管理的一项重点工作。通过全线徒步检查，可以发现巡检盲区、提升巡护质量、完善桩牌信息、确定重点区域，对管道全线的安全状况进行全面评估，为管道安全运行加上了又一道坚实的防线。
                p 在辽阔的草原上，在苍茫的荒漠里，一缕缕橘红飘过大地，“管道卫士”的旗帜迎风招展，这就是哈纳斯管道人！虽一路坎坷、疲惫，但也充满了欢声笑语，奋力前行的那份坚定，是因为我们深感责任重大，守护天然气管道安全，我们义不容辞！
                
                
             
            footer.pagenav               
                    
                a.news-nav.prev.wow.fadeInUp(href="news_detail.html")                            
                    .arrow 上一篇
                    .title 微生物检验及相关技术培训班火热进行中
                    dl.note
                        dd.date 2020/07/11
                        dd.category 企业新闻

                    
            
                a.news-nav.next.wow.fadeInUp(href="news_detail.html")                               
                    .arrow 下一篇
                    .title 现代技术和未来的医学: 亿微生物和莱顿大学组织冬季学校亿微生物和莱顿大学组织冬季学校
                    dl.note
                        dd.date 2020/07/11
                        dd.category 企业新闻
                   
   

block bkfooter
    script.
        