extends includes/layout.pug

block title
    | 创新研究
    - var currentUrl = 'research.html'
block bkheader
    

block content
    .banner.banner-team
        img.bg(src="img/banners/research.jpg", alt="研发模式")
        .txt.pb-media-6
            .container            
                h1.wow.fadeInUp.text60 研发模式

    section.page.page-partners-s3.container.pt-media-6.pb-media-6
        .title-section.text-center
            h2.text28 自主定制开发创新产品
            p.text20 产品列表

        .products 
            .row.g-4.g-xxl-5 
                .col-md-4.col-lg-3 
                    .item 
                        .name.text20 CMS-D001                   
                        dl 
                            dt 适应症               
                            dd 自身免疫系统类疾病

                .col-md-4.col-lg-3 
                    .item 
                        .name.text20 CMS-D002                   
                        dl 
                            dt 适应症               
                            dd 自身免疫系统类疾病

                .col-md-4.col-lg-3 
                    .item 
                        .name.text20 CMS-D003                   
                        dl 
                            dt 适应症               
                            dd 自身免疫系统类疾病

                .col-md-4.col-lg-3 
                    .item 
                        .name.text20 CMS-D004                  
                        dl 
                            dt 适应症               
                            dd 自身免疫系统类疾病

    
                  

                

block bkfooter


    script.
        
        $(function () {
            
        
        });
      
       

     
