extends includes/layout.pug

block title
    | 在售产品
    - var currentUrl = 'business.html'

block bkheader
    link(href='js/vendor/lightbox2/css/lightbox.min.css', rel='stylesheet')

block content   
    .banner.banner-news.wow.fadeInUp
        img.bg(src="img/banners/products.jpg", alt="")
        .txt
            .container            
                h1.white.wow.fadeInUp.text48 科学和管线


    .page.page-products-s1.container.pt-media-5.pb-media-5
        .title-section.style2
            .en Product pipeline
            h2.text28 产品管线
        .des 
            p 作为液体活检三驾马车之一的外泌体，在体液中含量丰富，携带多种分泌细胞来源的生物信息分子，双磷脂层膜结构对内容物有更好的保护，是一种极具潜力的生物标志物。肿瘤细胞分泌的外泌体中含有miRNA、mRNA、lncRNA及DNA等核酸分子，可反映肿瘤患者的病理生理状态及原发肿瘤的性质，有望成为一种新的临床工具，用于辅助恶性肿瘤早期筛查、鉴别诊断、病情检测、疗效预测及预后判断。


    .page.page-products-s2.pt-media-5.pb-media-5
        .container
            .pic 
                img(src="img/man.png", alt="")
            .row.justify-content-between 
                .col-lg-4 
                    .left_col 
                        .list 
                            .item 
                                .icon 
                                    img(src="img/icon-001.png", alt="")
                                .txt 
                                    h3.title 脑胶质瘤
                                    .des 血浆外泌体生物标志物辅助诊断早期脑胶质瘤

                            .item 
                                .icon 
                                    img(src="img/icon-002.png", alt="")
                                .txt 
                                    h3.title 泛癌种
                                    .des 通过检测外周血外泌体分子标志物，提示肿瘤风险

                            .item 
                                .icon 
                                    img(src="img/icon-003.png", alt="")
                                .txt 
                                    h3.title 前列腺癌
                                    p 尿液、血浆等来源的外泌体生物标志物辅助诊断早期前列腺癌

                            
                .col-lg-4 
                    .right_col
                        .list 
                            .item 
                                .icon 
                                    img(src="img/icon-004.png", alt="")
                                .txt 
                                    h3.title 食道癌
                                    .des 血清外泌体miRNA预测放疗敏感度，指导治疗方案

                            .item 
                                .icon 
                                    img(src="img/icon-005.png", alt="")
                                .txt 
                                    h3.title 肺癌
                                    .des 血浆外泌体miRNA，lncRNA，circRNA等分子标志物助力非小细胞肺癌早期诊断及预后动态监测

                            .item 
                                .icon 
                                    img(src="img/icon-006.png", alt="")
                                .txt 
                                    h3.title 胃癌
                                    p 血浆外泌体生物标志物辅助诊断早期胃癌，动态监测癌症进程及预后


            



block bkfooter

    script(src='js/vendor/lightbox2/js/lightbox.min.js')
    script.
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'positionFromTop': 100
        })
